mixin banner-adventure()
  .c-section-banner-adventure
    .c-section-banner-adventure__wrapper
      +banner({
        style: `min-height:540px; background-image: url('./assets/images/snapshot 1.jpg')`,
        rightMode: true,
        colorMode: true,
        displaySubTitleMode: true,
        withMode: true,
      })