mixin banner-divider-two()
  .c-section-banner-divider-two
    .c-section-banner-divider-two__wrapper
      +banner({
        style: `min-height:540px; background-image: url('./assets/images/snapshot 1.jpg')`,
        rightMode: true,
        colorMode: true,
        displaySubTitleMode: true,
        withMode: true,
      })