mixin banner-info-covid()
  .c-section-banner-info-covid
    .c-section-banner-info-covid__wrapper 
      +banner({
        style: `min-height:540px; background-image: url('./assets/images/Rectangle(4).jpg')`,
        rightMode: true,
        colorMode: true,
        displaySubTitleMode: true,
        withMode: true,
      })