mixin banner-home-start()
  .c-section-banner-home
    .c-section-banner-home__wrapper 
      +banner({
        style: `min-height: 740px; background-image: linear-gradient(360deg, rgb(34, 34, 34), rgba(34, 34, 34, 0)), url('./assets/images/Start-banner.jpg')`,
        infoHeader: 'The Trail Runner SWT Is Here.',
        infoText: "Durable. Comfortable. Ready to get dirty.",
        linkText: 'Shop Merch',
        displayMode: true,
      })