include ./form-contact
include ./form-sign
include ./header
include ./navigation
include ./navigation-right
include ./banner
include ./footer

//- Home page
include ./banner-home-start
include ./section-favorites
include ./favorites-card
include ./banner-info-covid
include ./slider-info
include ./banner-adventure