include ./form-contact
include ./form-sign
include ./header
include ./navigation-left
include ./navigation-right
include ./banner
include ./section-form
include ./footer

//- Home page
include ./banner-home-start
include ./section-favorites
include ./favorites-card
include ./banner-divider-one
include ./slider-info
include ./banner-divider-two
