mixin navigation()
  nav.c-navigation 
      ul.c-navigation__list
        li.c-navigation__item
          +link({
            href: '#',
            button: false,
            text: 'Man',
            lightText: true
          })
        li.c-navigation__item 
          +link({
            href: '#',
            button: false,
            text: 'Woman',
            lightText: true
          })
        li.c-navigation__item 
          +link({
            href: '#',
            button: false,
            text: 'New Arrivals',
            lightText: true
          })
      +burger-menu()
