@font-face {
    font-family: "Playfair Regular";
    src: url("./Fonts/Playfair_display/static/PlayfairDisplay-Regular.ttf");
  }
  @font-face {
    font-family: "ProximaNova";
    src: url("./Fonts/Proxima_Nova/Proxima\ Nova\ Extra\ Condensed\ Regular.otf");
  }