* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
      background-color: #464f54;
  }
  .nine-one_header_wrapper{
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      margin: 3.9vw 0 -13.4vw 0 ;
  }
  .nine-one_black-header{
      background-color: #181818;
      color: #b4b4b4;
      width: 73%;
      height: 15.59457092819614vw;
      display: flex;
      flex-flow: column;

      padding-left: 5.178283712784588vw;
      
  }
  .nine-one_header_line{
      opacity: 0.2;
  }
  .nine-one_config{
      display: flex;
      align-items: center;
      background-color: #f0b82b;
      width: 67.6%;
      height: 6.30991243432574vw;
      padding-left: 3.7vw;
      gap: 30px;
  }
  .nine-one__config__item{
    /* margin-left: 1.5vw ; */
    width: 2.2791666666666667vw;
  }
  svg:nth-child(1){
      margin: 0;
  }
  .nine-one_main-wrapper{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      color: black;
      background-color: white;
      width: 88.25vw;
      height: fit-content;
      margin: 0 auto;
      padding: 0 5.49353765323993vw;
  }
  .nine-one_main_border{
    padding: 0 4.80353765323993vw;
      border-left: 1px solid #e8eced;
  }
.nine-one_playfair{
    font-family: "Playfair Regular";
    color: white;
    font-size: 4.5vw;
}
.nine-one_main_proxima-wrapper{
    padding-top: 16.50963222416814vw;
}
.nine-one_proxima_header{
  margin-top: 4.041666666666665vw;
    font-size: 1.125vw;
    letter-spacing: 0.15625vw;
}
  .nine-one_proxima{
      color: #b4b4b4;
      font-size: 1.642533333333333334vw;
      font-family: "ProximaNova";
      letter-spacing: 0.3408333333333333vw;
  }
  .nine-one_futura{
    font-family: 'pro-reg', sans-serif;
      margin-top: 2.72vw;
      /* letter-spacing: -0.07vw;
      word-spacing: -1.1vw; */
      font-size: 6.0236536430834214vw;
font-weight: 700;
  }
  .nine-one_georgia{
      line-height: 1.55;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 3.70768826619965vw;
      font-size: 2.2020833333333333vw;
      letter-spacing: 0.1px;
    word-spacing: 1px;
  }
  .nine-one_georgia p:nth-child(2){
    margin-top: 21px;
  }
  .italic{
      color: #8f8f8f;
      margin-top: 0.4vw;
font-size: 2.49970227670753vw;
font-style: italic;
line-height:1.15 ;
  }