.e-photo{
  max-width: 1280px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 50px auto;

 &__calc{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
 }

  &__front{
  width: 100%;
  overflow: hidden;
  border-radius: 10%;
  transition: .35s cubic-bezier(.4,0,.2,1);;
  backface-visibility: hidden;
  transform: perspective(1280px) rotateY(0deg);
  }

  &__rear{
    display: flex;
    max-width: 1280px;
    max-height: 720px;
    height: fit-content;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    // border-radius: 10%;
    // transition: .35s cubic-bezier(.4,0,.2,1);
    // backface-visibility: hidden;
    // transform: perspective(1280px) rotateY(-180deg);
    // background-image:  url("./assets/image/Rsq8-rear.jpg");
    // linear-gradient(90deg, rgba(2,0,36,0.6922969871542367) 0%, rgba(1,1,25,0.34215693113182777) 5%),

    &__image{
    max-height: 720px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 10%;
    transition: .35s cubic-bezier(.4,0,.2,1);
    backface-visibility: hidden;
    transform: perspective(200px) rotateY(-180deg);
    }

    &__text{
    width: 450px;
    position: absolute;
    margin-top: 50px;
    left: 1%;
    font-size: 1.5em;
    line-height: 1.5;
    display: none;

    @include media('<screen') {
      font-size: 20px;
    }
    @include media('<desktop') {
      font-size: 18px;
    }
    @include media('<tablet') {
      font-size: 10px;
    }
    @include media('<phone') {
      font-size: 6px;
    }
    }
  }

  &__toggle-btn{
    width: 100px;
    height: 50px;
  }

  .activeFront{
   transform: perspective(1280px) rotateY(-180deg); 
  }
  .activeRear{
    transform: perspective(1280px) rotateY(0deg); 
   }
   .display{
     display: block;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 1s ease 0s forwards;
   }
}