mixin block (args)

    section.c-homework 
      .c-homework__wrapper 
        +task({
          text: '1-task',
          taskId: 'js-task1',
          })
        +task({
          text: '2-task',
          taskId: 'js-task2',
          })
        +task({
          text: '3-task',
          taskId: 'js-task3',
        })
        +task({
          text: '4-task',
          taskId: 'js-task4',
        })
        +task({
          text: '5-task',
          taskId: 'js-task5',
        })
        +task({
          text: '6-task',
          taskId: 'js-task6',
        })
        +task({
          text: '7-task',
          taskId: 'js-task7',
        })
        +task({
          text: '8-task',
          taskId: 'js-task8',
        })
        +task({
          text: '9-task',
          taskId: 'js-task9',
        })
        +task({
          text: '10-task',
          taskId: 'js-task10',
          })