mixin block (args)

    section.c-homework 
      .c-homework__wrapper 
        +task({
          text : '1-task';})
        +task()
        +task()
        +task()
        +task()
        +task()
        +task()
        +task()
        +task()
        +task()