mixin block (args)

    section.c-homework 
      h1.c-homework__title Js HW - 3
      .c-homework__wrapper 
        +task({
          text: 'Написать функцию, которая принимает 2 числа и возвращает -1, если первое меньше, чем второе; 1 – если первое больше, чем второе; и 0 – если числа равны.',
          taskId: 'js-task1',
          taskInput1: 'js-input1-1',
          taskInput2: 'js-input1-2',
          taskInput3: 'js-input1-3',
          })
        +task({
          text: 'Написать функцию, которая вычисляет факториал переданного ей числа.',
          taskId: 'js-task2',
          taskInput1: 'js-input2-1',
          taskInput2: 'js-input2-2',
          taskInput3: 'js-input2-3',
          })
        +task({
          text: 'Написать функцию, которая принимает три отдельные цифры и превращает их в одно число. Например: цифры 1, 4, 9 превратятся в число 149.',
          taskId: 'js-task3',
          taskInput1: 'js-input3-1',
          taskInput2: 'js-input3-2',
          taskInput3: 'js-input3-3',,
        })
        +task({
          text: 'Написать функцию, которая принимает длину и ширину прямоугольника и вычисляет его площадь. Если в функцию передали 1 параметр, то она вычисляет площадь квадрата.',
          taskId: 'js-task4',
          taskInput1: 'js-input4-1',
          taskInput2: 'js-input4-2',
          taskInput3: 'js-input4-3',
        })
        +task({
          text: 'Написать функцию, которая проверяет, является ли переданное ей число совершенным. Совершенное число – это число, равное сумме всех своих собственных делителей.',
          taskId: 'js-task5',
          taskInput1: 'js-input5-1',
          taskInput2: 'js-input5-2',
          taskInput3: 'js-input5-3',
        })
        +task({
          text: 'Написать функцию, которая принимает минимальное и максимальное значения для диапазона, и выводит только те числа из диапазона, которые являются совершенными. Используйте написанную ранее функцию, чтобы узнавать, совершенное число или нет.',
          taskId: 'js-task6',
          taskInput1: 'js-input6-1',
          taskInput2: 'js-input6-2',
          taskInput3: 'js-input6-3',
        })
        +task({
          text: 'Написать функцию, которая принимает время (часы, минуты, секунды) и выводит его на экран в формате «чч:мм:сс».Если при вызове функции минуты и/или секунды не были переданы, то выводить их как 00.',
          taskId: 'js-task7',
          taskInput1: 'js-input7-1',
          taskInput2: 'js-input7-2',
          taskInput3: 'js-input7-3',
        })
        +task({
          text: 'Написать функцию, которая принимает часы, минуты и секунды и возвращает это время в секундах.',
          taskId: 'js-task8',
          taskInput1: 'js-input8-1',
          taskInput2: 'js-input8-2',
          taskInput3: 'js-input8-3',
        })
        +task({
          text: 'Написать функцию, которая принимает количество секунд, переводит их в часы, минуты и секунды и возвращает в виде строки «чч:мм:сс».',
          taskId: 'js-task9',
          taskInput1: 'js-input9-1',
          taskInput2: 'js-input9-2',
          taskInput3: 'js-input9-3',
        })
        +task({
          text: 'Написать функцию, которая считает разницу между датами. Функция принимает 6 параметров, которые описывают 2 даты, и возвращает результат в виде строки «чч:мм:сс». При выполнении задания используйте функции из предыдущих 2-х заданий: сначала обе даты переведите в секунды, узнайте разницу в секундах, а потом разницу переведите обратно в «чч:мм:сс»',
          taskId: 'js-task10',
          taskInput1: 'js-input10-1',
          taskInput2: 'js-input10-2',
          taskInput3: 'js-input10-3',
          })