mixin task(args)
  - let text = args.text || 'default text';
  - let taskId = args.taskId || 'default taskId';
  - let taskInput = args.taskInput || 'default taskInput';

  .e-task
      h2.e-task__text=text
      input(type="text" id=taskInput)
      button(id=taskId).e-task__btn
        span.e-task__btn__text Click me, Senpai