/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* end of reset */
body{
  color: black;
}
.wrapper{
  display: flex;
  text-align: center;
  gap: 5vw;
  flex-wrap: wrap;
 justify-content: center;
 align-content: center;
flex-direction: row;
width: 100vw;
height: 100vh;
}
.item1,
.item2,
.item3{
width: 300px;

}
h2{
  line-height: 2.6;
}
p{
  line-height: 1.6;
 
}
.bg_svg{
  margin: 0 auto;
  background-color:white;
width: 67px;
height: 67px;
border-radius: 50%;
border: #2a69a6 1px solid;

}
.bg_svg:hover{
  margin: 0 auto;
  background-color: #2a69a6;
width: 67px;
height: 67px;
border-radius: 50%;
}
.bg_svg svg path{
  transition: all 0.5s;
}
.bg_svg:hover svg path {
  fill: #fff;
}
svg{
  margin-top: 20px;
  height: 25px;
  width: 25px;
}