mixin block (args)

    section.c-homework 
      .c-homework__wrapper 
        +task({
          text: 'Регистрация',
          addbtn: 'js-add-btn',
          delbtn: 'js-lang-btn',
          taskInput: '1',
          inputQuantity: '6',
          admin: false,
          })
    footer.c-homework__footer DimooonLab