mixin header(args)
  //- //- Static
  //- - let content = args?.content || '';
  //- - let title = args?.title || '';
  //- - let count = args?.count || '';
  //- - let show = args?.show || '';
  //- //- Custom

  //- - let contentWithCount = content + ' ' + count;

  header.c-header
 
      //- p= count
      //- if show
      //-   p додатковий контент
      //-   p Lorem ipsum dolor sit amet consectetur adipisicing elit. A velit ipsam eum alias deleniti harum, illo ab sint perferendis aliquam adipisci veritatis iure provident nostrum vitae doloribus ea debitis ex in beatae iusto neque tempora! Delectus atque esse, neque aperiam optio nisi eum, culpa labore animi minima laboriosam fugit sit quas cupiditate, laborum ipsam! Tempora nesciunt ut harum deleniti at, laudantium repellat doloremque tempore aut sed magni porro maiores error nam? Cum maxime quasi, est commodi explicabo fugit optio quas sapiente sequi reprehenderit incidunt, ea nulla, laborum obcaecati voluptas excepturi corporis totam? Itaque pariatur corporis velit libero rem maxime labore.
