mixin about-us()

  .c-about-us
    .c-about-us__wrapper
      .c-about-us__banner
        .c-about-us__banner__wrapper
          .c-about-us__background
            +background({
              src: './assets/icons/about-usBg.jpg',
              alt: 'myzhuk'
            })
          .c-about-us__logo
            +logo()
          .c-about-us__banner__info
            h1.c-about-us__banner__title WORKING <br> WITH DESIGN LAB
            p.c-about-us__banner__text We’ve been helping startups launch and grow their businesses. <br> We help you to fill the gap between development. <br> Design and product management.
            .c-about-us__banner__scroll
              +scroll
      .c-about-us__description
        .c-about-us__description__wrapper
          .c-about-us__description__header ABOUT US
          .c-about-us__description__text When you work with us, you are part of a team of committed collaborators. <br> All aspects of our software development process are integrated, iterative and agile.
          .c-about-us__description__text Our approach unifies design, development and <br> product management to create exceptional products. <br> We start each project by understanding your business goals, <br> the user’s needs and the product requirements. <br> Then we help translate them into effective and elegant solutions.