mixin contact-us()

  .c-contact-us
    .c-contact-us__wrapper
      .c-contact-us__banner
        .c-contact-us__banner__wrapper
          .e-contact-us__background
          .e-contact-us__banner-description
      .c-contact-us__description
        .c-contact-us__description__wrapper
          .c-contact-us__header
          .c-contact-us__text--center
          .c-about-us__text--center