mixin contact-us()

  .c-contact-us
    .c-contact-us__wrapper
      .c-contact-us__banner
        .c-contact-us__banner__wrapper
          .c-contact-us__background
            +background({
              src: './assets/icons/Topworkz.jpg',
              alt: 'Topworkz'
            })

            +background({
              src: './assets/icons/Joint.jpg',
              alt: 'Joint'
            })
            +background({
              src: './assets/icons/market.jpg',
              alt: 'Market'
            })
            +background({
              src: './assets/icons/worktop.jpg',
              alt: 'Worktop'
            })
            +background({
              src: './assets/icons/Lable.jpg',
              alt: 'Lable'
            })
            +background({
              src: './assets/icons/Kyiv.jpg',
              alt: 'Kyiv'
            })
          .e-contact-us__banner-description
      .c-contact-us__description
        .c-contact-us__description__wrapper
          .c-contact-us__header
          .c-contact-us__text--center
          .c-about-us__text--center