mixin footer()


  footer.c-footer
    .c-footer__wrapper 
      .c-footer__logo
        +logo({
          logo: '#icon-logo',
          class: 'icon icon-logo icon-logo--black'
        })
      .c-footer__text &#169 2014. All Rights Reserved Elipsis.com