mixin landing()


  .c-landing-page
    .c-landing-page__wrapper
      .c-landing-page__fullscreen-block
        .c-landing-page__fullscreen-block__wrapper
         +about-us()
      //- .c-landing-page__fullscreen-block
      //-   .c-landing-page__fullscreen-block__wrapper        
      //-    +services()
      //- .c-landing-page__fullscreen-block
      //-   .c-landing-page__fullscreen-block__wrapper   
      //-     +contact-us()