mixin services()

  .c-services
    .c-services__wrappper
      .c-services__banner
        .c-services__banner__wrapper
          .c-services__background
            +background({
              src: './assets/icons/services.jpg',
              alt: 'services'
            })
          .e-services__logo
          .c-services__banner__info
            h1.c-about-us__banner__title WORKING <br> WITH DESIGN LAB
            p.c-about-us__banner__text We’ve been helping startups launch and grow their businesses. <br> We help you to fill the gap between development. <br> Design and product management.
      .c-services__description
        .c-services__description__wrapper
          .c-services__header
          .c-services__header__wrapper
          .c-services__description__item--center
          .c-services__description__item--center
          .c-services__description__item--center