.c-sign-up {
  width: 100%;
  color: $c-black;
  border: 1px solid $c-shadowy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  box-shadow: 3px 4px 7px rgba(black, 0.8);
  align-items: center;
  padding: 25px;

  &__text {
    padding: 0 20px 0 20px;
  }

  &__input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    max-height: 200px;
    align-content: center;

    > input {
      border: 1px solid $c-black;
      outline: none;

      &:focus,
      &:hover {
        transition: $t-normal;
        border-color: $c-light-red;
      }
    }
  }

  &__btn {
    margin-top: 25px;
    outline: none;
    border: none;
    background-color: $c-light-bllue;
    border-radius: 5%;
    padding: 5px;
    cursor: pointer;
    max-width: 100px;
    width: 100%;
  }
}
.hystmodal__window {
  margin: 70px 0;
}
