extends ./src/_extends/common

block title
  title новини

block style
  link(rel="stylesheet", href="./style/news.css")

block content
  p НОВИНИ
  section 
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus eligendi accusantium id, blanditiis ad earum et quam, fugit iusto aperiam ut! Facilis nihil nesciunt in recusandae officiis ut tempora illo sapiente beatae natus cumque ab incidunt quis, voluptate obcaecati totam nisi illum maiores voluptatibus laudantium, maxime quisquam corporis! Atque fuga aperiam mollitia quaerat? Provident vero eaque perferendis porro nemo ab error at beatae eveniet hic, inventore placeat. Sint temporibus facilis earum? Consequuntur sequi dignissimos iusto, nobis quia perferendis voluptatum, modi quibusdam dolorum quaerat vel odio nemo corporis vitae quam, dicta esse delectus consectetur ut explicabo! Recusandae magni consectetur sint possimus.