// COLORS
$c-black: #000;
$c-blue: #14283e;
$c-white: #F9FAFF;
$c-white-dark: #e5eeee;
$c-red: #e66a64;
$c-teal:#23ae92;
$c-light-purple:#e4d9f0;
$c-gray:#d0d1dc;

// Font size
$fs-big: 18px;
$fs-base: 16px;
$fs-small: 13px;
// $fs-h1: 48;

// Transition
$t-normal: .35s cubic-bezier(.4,0,.2,1);

// Box Shadow
$bs-normal: 3px 4px 7px rgba($c-black, .1);