mixin header()
  header.c-header
    .c-header__wrapper.wrapper

      .c-header__navigation 
        +navigation()

      //- Logo
      .c-header__logo                         
        +logo()

      //- Navigation list
      .c-header__navigation 
        +navigation-right()

