.wrapper {
  margin: 0 30% 0 30%;
  align-items: center;
  width: 40vw;
  height: auto;
}
header {
  background: #a52a2a;
  color: white;
  text-align: center;
  margin: 20px 0 0 0;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 18px;
}
.img_container {
  text-align: center;
  border: black dashed;
}
.main_photo {
  width: 40vw;
}
.cars {
  text-align: center;
}
.main_text {
  font-size: 16px;
}
