mixin block (args)

    section.c-homework 
      .c-homework__wrapper 
        +task({
          text: 'Функция умножения 2-х объектов-дробей (Формат первый столбик - первая дробь, второй - вторая)',
          taskId: 'js-task1',
          taskInput: '1',
          inputQuantity: '4',
          })
        +task({
          text: 'Функция деления 2-х объектов-дробей (Формат первый столбик - первая дробь, второй - вторая)',
          taskId: 'js-task2',
          taskInput: '2',
          inputQuantity: '4',
          })
        +task({
          text: 'Функция сложения 2-х объектов-дробей(Формат первый столбик - первая дробь, второй - вторая)',
          taskId: 'js-task3',
          taskInput: '3',
          inputQuantity: '4',
        })
        +task({
          text: 'Функция вычитания 2-х объектов-дробей (Формат первый столбик - первая дробь, второй - вторая)',
          taskId: 'js-task4',
          taskInput: '4',
          inputQuantity: '4',
        })
        +task({
          text: 'Вывод времени (Формат каждый ввод отедльно: часы , минуты, секунды)',
          taskId: 'js-task5',
          taskInput: '5',
          inputQuantity: '3',
        })
       

    footer.c-homework__footer Made in Dimoooooon.Lab