* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-bottom: 0;
}
img {
  width: 100%;
}
body {
  background-color: silver;
  font-family: "Avenir next";
}

.c-contact_us__form-container {
  background-color: #11364e;
  width: 100vw;
  height: 100vw;
  color:white;
}
.c-contact_us__form-container__wrapper {
  display: flex;
  flex-flow: column;
  padding-right: 5px;
  width: 100%;
}
.c-contact_us__title {
  width: 370px;
  margin: 135px auto 0 auto;
  text-align: center;
}
.c-contact_us__title_wrapper {
  width: 100%;
}
.e-contact_us__tittle {
  font-size: 38px;
  letter-spacing: -0.5px;
  line-height: 1.448;
}

.c-contact_us__form {
  margin: 31px auto;
  display: flex;
  flex-flow: column;
  width: 370px;
}
.c-contact_us__form__item {
  border-bottom: 1px solid silver;
  display: flex;
  flex-flow: column;
  margin-top: 43px;
  font-size: 13px;
}
.c-contact_us__form__item:nth-child(1) {
  margin-top: 0px;
}
.c-contact_us__input-text__wrapper{
  margin-top: 15px;
  color: white;
  padding-bottom: 5px;
}
.e-contact_us__input-text {
  font-size: 16px;
}
.c-contact_us__text-area__wrapper {
  margin-top: 15px;
  min-height: 90px;
  font-size: 16px;
  padding-bottom: 5px;
}
.e-contact_us__input-textarea {


height: 100%;
width: 100%;
  
  resize: vertical;



}
.e-contact_us__input--transparent{
  mix-blend-mode: normal;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
}
.c-contact_us__form__submit-btn{
  height: 60px;
  margin-top: 33px;
  font-size: 17px;
  font-weight: 600;
}
.e-contact_us__submit-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
}
.e-contact_us__submit-button--orange{
  background-color: #ff7f57;
}
