* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: cadetblue;
  font-family: "HansKendrick";
}
.wrapper {
  margin-top: 40px;
}
.container {
  margin: 0.78125vw auto;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  gap: 0.78125vw;
  justify-content: center;
}
.item1 {
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 40.520833333333336vw;
  background-color: cadetblue;
}
.item {
  text-align: center;
  background-color: white;
  flex-basis: 28.88333%;
  height: 40.520833333333336vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.big-photo {
  width: 55.541666666666664vw;
}
.small-photo {
  width: 100%
}
.overflow_text {
  color: white;
  z-index: 1;
  position: relative;
  top: -30%;
  text-align: start;
  padding-left: 3.9041666666666665vw;
}
.gray_title {
  font-size: 0.975vw;
  color: #818181;
}
.first_text {
  font-size: 2.25vw;
  margin-top: 0.26680896478121663vh;
  font-weight: 900;
}
.small_posts {
  text-align: start;
  padding: 0 1vw 0 1.6041666666666665vw;
  margin-top: 1.2870864461045888vh;
}
.main_text {
  font-size: 1.65vw;
  margin-top: 0.052083333333333336vw;
  font-weight: 900;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.2;
}
.left_bottom_icon {
  margin: 5vw 0 0 -14vw;
  width: 2.6041666666666665vw;
}
