.c-homework {
  width: 100%;
}

.c-homework__wrapper {
  margin: 200px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
