include ../_includes/_elements/index
include ../_includes/_components/index

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		block style
		link(rel='stylesheet' href='  ./main.css')
		link(rel="stylesheet", href="./fonts.css")

		block title
			title arthur
	body
		//- include ../../assets/icons/common/symbol-defs.svg
		
		block content