.c-advertisment-block{
  color: black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  &__description{
    margin-top: 50px;
  }

  &__buttons{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0 15px;
    width: 100%;
    max-width: 400px;
  }

  &__btn-text{
    color: $c-white;
  }

  &__button{
    max-width: 180px;
    width: 100%;
    height: 50px;
    background-color: $c-shadowy;
    outline: none;
    border: none;
  }
}