mixin icon(args)
  - let svgLink = args.svgLink || 'icon-logo';
  - let shopBag = args.shopBag || false;

    .e-icon.icon
      svg.e-icon__svg(class=`${(shopBag ? 'e-icon__svg--shopping-bag' : '')}`)
        use(xlink:href='#' + svgLink)