mixin block ()

  section.c-homework 
    .c-homework__wrapper 
      +task()
      +task()
      +task()
      +task()
      +task()
      +task()
      +task()
      +task()
      +task()
      +task()