body{
  background: #990909;  
  align-items: center;
height: auto;
}
header {
    display: flex;
background: #990909;
color: white;
text-align: center;
justify-content: center ;
height: 3vw;
}
footer {
background-color: #e95b11;
color: white;
text-align: center;
font-size: 18px;
}
.main_info{
    display: flex; 
    align-items: stretch;
    min-height: 31vw;
    padding: 10px;
}
.page{
 display: flex;
 flex-direction: column;
}
.image_row {
display: flex;
justify-content: space-around;
background: black;
padding: 1.5vw 2vw 0.25vw 2vw ;
}
.top_images{
  max-width: 150%;
  height: auto;
  width: 11vw;
}
strong{
      font-size: 1vw;
}
span{
  margin: 0.25vw 0 0 0;
}
    .name{
        display: flex;
        flex-direction: column;
        color: white;
      text-align: center;
    }
.main_photo{
  width: 0vw;
  height: auto;
}
.cars{
  text-align: center;
} 
.main_text{
font-size: 18px;
}
.side_bar{
  display: flex;
  flex-direction: column;
  background-color: #7d0909;
  width: 20vw;
  align-items: flex-start;
}
.sidebar_items{
  padding: 20px 0 20px 0;
}
main{
  color: white;;
  width: 65vw;
}
.right_side{
  width: 15vw;
  background: #e3dddd;
}
a:link {
  color: #e95b11;
  background-color: transparent;
}
.tittle_right{
  background: #bdbdbd;
  text-align: center;
  margin: 0;
}
hr{
  width: 4vw;
  color: #9a9a9a;
}
p{
  margin-left: 5px;
}