.e-bucket{

  &__sum{
    position: absolute;
    top: 50%;
    right: 55px;
    color: $c-black;
    font-size: em($fs-base);
    width: 25px;
    line-height: 0.8;
    cursor: pointer;

    @include media ('<phone') {
      right: 15px;
    }
  }

  &__items{
    position: fixed;
    z-index: 1000;
    right: -100%;
    top: 60px;
    background-color: $c-light-red;
    text-align: start;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 40%;
    color: $c-white;

    @include media ('<phone') {
     max-width: 100%;
    }

    >li{
      display: flex;
      justify-content: space-between;
      border: 1px solid green;
      line-height: 1;
      padding: 5px;
      align-items: center;
    }
  }

  &__del-btn{
    outline: none;
    border: none;
    height: 30px;
    padding: 5px 10px;
  }

  &__order{
    display: flex;
    justify-content: space-around;

    &__buy-btn{
      cursor: pointer;
      color: $c-white;
    }
  }
}

.bucket-active{
  right: 0;
}
