:root {
  --swiper-theme-color: gray;
}

.swiper {
  width: 1250px;
  height: 560px;
  cursor: pointer;

  @include media("<screen") {
    width: 850px;
  }
  @include media("<desktop") {
    width: 400px;
  }
  @include media("<phone") {
    width: 300px;
  }
}

.swiper-slide {
  width: 400px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: $c-white;
  transform: rotate(45deg);
  width: 35px;
  height: 35px;
  box-shadow: $bs-container;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  transform: scale(0.4) rotate(-45deg);
}

.c-slider {
  position: relative;
  max-width: 1340px;
  margin: 135px auto 0;
  width: 100%;

  @include media("<screen") {
    width: 940px;
  }

  @include media("<desktop") {
    width: 490px;
  }

  @include media("<phone") {
    max-width: 390px;
    width: 100%;
  }

  &__title {
    color: $c-black;
    text-align: start;
    width: 100%;
    max-width: 600px;
    padding-left: 45px;
    font-size: em($fs-soc-icon);
    font-weight: 700;
    height: 48px;

    @include media("<phone") {
      font-size: em($fs-1-5em);
    }
  }

  &__slide {
    &__header {
      font-size: em($fs-btn);
      font-weight: 700;
    }

    &__profile {
      display: flex;
      color: $c-black;
      padding: 0 20px;
      border: 1px solid $c-ivory;
    }

    &__info {
      width: 90%;
      margin-top: 20px;
      margin: 20px auto;
      color: $c-black;
      text-align: start;
      display: flex;
      flex-direction: column;
    }

    &__image {
      height: 400px;
    }

    &__description {
      margin-top: 10px;
      font-size: em($fs-base);
      font-weight: 400;
    }

    &__buy {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__quantity {
      width: 100%;
      padding-left: 5px;
      outline: none;
    }

    &__btn {
      width: 100%;
      outline: none;
      border: none;
      background-color: $c-red;
      color: $c-white;
    }
  }
}
