include ../_includes/elements/index
include ../_includes/components/index

doctype html
html(lang='ua')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='index.css')
		link(rel="shortcut icon", href="./assets/icon/favicon.ico", type="image/x-icon")
		block style
		block title
			title Template
	body
		header.c-homework__header Js JSON
		//- include ../../assets/icons/common/symbol-defs.svg
		block content

		
	
		//- script(defer  src="index1.js")
		script( src="index.js")
		script( src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5Wydy5GqM8PQm_pMSKiyUJ9yHY5v1cas&callback=initMap")
		
		
