mixin block (args)

    section.c-homework 
      .c-homework__wrapper 
        select(id="start")
            option(value="penn station, new york, ny") Penn Station
            option(value="grand central station, new york, ny") Grand Central Station
            option(value="625 8th Avenue, New York, NY, 10018") Port Authority Bus Terminal
            option(value="staten island ferry terminal, new york, ny") Staten Island Ferry Terminal
            option(value="101 E 125th Street, New York, NY") Harlem - 125th St Station

        select(id="end")
            option(value="260 Broadway New York NY 10007") City Hall
            option(value="W 49th St & 5th Ave, New York, NY 10020") Rockefeller Center
            option(value="moma, New York, NY") MOMA
            option(value="350 5th Ave, New York, NY, 10118") Empire State Building
            option(value="253 West 125th Street, New York, NY") Apollo Theater
            option(value="1 Wall St, New York, NY") Wall St

        div(id="map")
        div(id="warnings-panel")

    footer.c-homework__footer DimooonLab