mixin item()
  - let text = args.text || 'default text';
  - let addbtn = args.addbtn || 'default addbtn';
  - let delbtn = args.delbtn || 'default delbtn';
  - let taskInput = args.taskInput || 'default taskInput';
  - let inputQuantity = args.inputQuantity || '0';
  -let admin = args.admin || false;
  

  .e-item
      h2.e-item__text=text
      .e-item__input
        - for (let i = 0; i < inputQuantity; i++) {
        input(type="text" id='js-input'+ taskInput + '-' + i)
        - } 
      button(id=addbtn).e-item__btn
       
      span(id='js-result' + taskInput)